--><br><!--
    --><div id="bit-box_<%= bit.id %>" class="bit-box bit"><!--
        --><div id="video--mute-box_<%= bit.id %>"><!--
            --><button id="mute-bit-button_<%= bit.id %>" class="mute-bit-button"></button><!--
            --><div id="ytplayer_<%= bit.id %>" class="ytplayer"></div><br><!--
        --></div><!--
        --><div class="bit-button-box">
            <button class="bit-button play-full-button" id="play-full-button_<%= bit.id %>"><img src="/img/play-full-video.png"> <span>Play full video</span></button><!--
            --><a href="<%= bit.url %>" target="_blank"><button class="bit-button source-button"><i class="fa fa-youtube-play"></i> <span>YouTube</span></button></a><!--
            --><a href="/users/<%= bit.getUsername %>"><button class="bit-button user-button"><i class="fa fa-user"></i> <span><%= bit.getUsername %></span></button></a><!--
            --><button class="bit-button share-button"><i class="fa fa-share-square-o"></i> <span>Share</span></button>
</div><!--
    --></div><!--