<h3>New feedback for breviddy</h3>

<p><b>Id:</b> <%= @feedback.id %></p>
<p><b>Enjoyment:</b> <%= @feedback.enjoyment %></p>
<p><b>Design:</b> <%= @feedback.design %></p>
<p><b>Ease of Use:</b> <%= @feedback.ease_of_use %></p>
<p><b>Bugs:</b> <%= @feedback.bugs %></p>
<p><b>Channel:</b> <%= @feedback.channel %></p>
<p><b>Suggestions:</b> <%= @feedback.suggestions %></p>
<p><b>Email:</b> <%= @feedback.email %></p>

