<h3 id="motto">Quotes from the best videos on the internet</h3>

<div id="search-super-box">
  <%= form_tag(quotes_path, :method => "get", id: "search-form") do %>
      <div class="search-box">
        <%= text_field_tag :search, params[:search], placeholder: "Search", id: "search-input" %><!--
        --><button id="search-icon" class="mybtn"><i class="fa fa-search"></i></button>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>
<div id="quotes-super-box">
  <div id="quotes-box"><!--
<% @quotes.each do |quote| %>
    --><br><!--
    --><div class="quote-box"><!--
        --><div id="ytplayer_<%= quote.id %>" class="ytplayer"></div><br><!--
        --><div class="caption-box"><%= quote.caption %></div><!--
        --><div class="quote-button-box">
            <button class="quote-button" id="play-full-button_<%= quote.id %>"><i class="fa fa-play-circle"></i> Full video</button>
            <a href="/users/<%= quote.getUsername %>"><button class="quote-button user-button"><%= quote.getUsername %></button></a>
            <button class="quote-button share-button"><span class="glyphicon glyphicon-share"></span> Share</button>
        </div><!--
    --></div><!--
<% end %>
  --></div>
</div>

<script type="text/javascript">
    if (typeof youtube_api_init != 'undefined') {
        onYouTubeIframeAPIReady();
    }

    function onYouTubePlayerAPIReady() {
        console.log("YT api ready");
        <% @quotes.each do |quote| %>
        <% urlid = /^(?:https?:\/\/)?(?:www\.)?youtu(?:\.be|be\.com)\/(?:watch\?v=)?([\w-]{10,})/.match(quote.url)[1] %>
        <% id = quote.id %>
        window['hasPaused_<%= id %>'] = false;
        window['videotime_<%= id %>'] = 0;
        player_<%= id %> = new YT.Player('ytplayer_<%= id %>', {
            height: '300',
            width: '450',
            videoId: '<%= urlid %>',
            playerVars: {'iv_load_policy': 3, 'controls': 0, 'rel': 0, 'showinfo': 0},
            events: {
                'onReady': function() {
                    onPlayerReady(<%= id %>, player_<%= id %>, <%= quote.start %>, <%= quote.end %>);
                },
                'onStateChange': function(e) {
                    onPlayerStateChange(e, <%= id %>, player_<%= id %>, <%= quote.start %>);
                }
            }
        });
        <% end %>
    }
    function onPlayerStateChange(event, id, player, start) {
        if (event.data == 1 &&  !window['hasPaused_'+id]) {
            player.pauseVideo();
            window['hasPaused_'+id] = true;
        }
        else if (event.data == 0) {
            player.seekTo(start);
        }
    }
    function onPlayerReady(id, player, start, end) {
        player.seekTo(start);
        player.mute();
        $('#ytplayer_'+id).hover(function () {
            player.playVideo();
        }, function () {
            player.pauseVideo();
        });
        function updateTime() {
            newVideotime = player.getCurrentTime();
            if (newVideotime != window['videotime_'+id]) {
                onProgress(newVideotime, player, start, end);
            }
        }
        setInterval(updateTime, 100);
    }
    function onProgress(currentTime, player, start, end) {
        if (currentTime > end) {
            player.seekTo(start);
            player.playVideo();
        }
    }

</script>
