<link rel="stylesheet" href="/slider/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="/slider/css/ion.rangeSlider.skinHTML5.css" />
<script type="text/javascript" src="/slider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
<% if not user_signed_in? %>
    <% flash.now[:notice] = ('This video bit will be submitted anonymously. '+ link_to('Sign up', new_user_registration_path) +
            ' or '+link_to('login', new_user_session_path)+' to see all your submitted video bits.').html_safe %>
<% end %>
<%= javascript_include_tag 'new_bit' %>
<div id="super-box">
    <div id="upper-spacer"></div>
    <h3 id="url-instructions">Paste a YouTube video URL</h3>
    <div id="url-box"><input id="url-input" type="text" onClick="this.setSelectionRange(0, this.value.length)" autofocus="true"/></div>
    <div id="ytplayer-box"><div id="ytplayer"></div></div>
    <h3 id="trim-instructions">Trim the video with the brackets to create a video bit</h3>
    <div id="controls-box">
      <div id="control-buttons-box">
        <button id="toggle-play-button"><i class="fa fa-play fa-2x"></i></button><!--
        --><button id="toggle-mute-button"><i class="fa fa-volume-up fa-2x"></i></button>
        </div>
      <div id="sliders-box">
          <div id="seek-slider-box"><input id="seek-slider" type="text"></div>
          <div id="cut-slider-box"><input id="cut-slider" type="text"></div>
      </div>
    </div>
    <div id="form-box">
      <%= form_for :bit, url: bits_path do |f| %>
          <%= f.hidden_field :url %>
          <%= f.hidden_field :start %>
          <%= f.hidden_field :end %>
          <br>
          <%= f.submit value: "Submit video bit", id: "save-bit-button" %>
          <% end %>
    </div>
    <!--<%= link_to 'Back', :back, id: 'back-link' %>-->
</div>

