<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>breviddy - bits of videos around the internet</title>
  <%= stylesheet_link_tag 'application', params[:controller], :media => "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/font-awesome-4.2.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Cabin:600' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/img/icon.ico" />
</head>
<body data-no-turbolink>

<%= render 'layouts/header' %>

<div id="content">
    <div id="inner-content">
        <%= yield %>
    </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
