<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <%= render 'layouts/head' %>
  <%= stylesheet_link_tag 'application', 'fixed_page', 'users', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
</head>
<body data-no-turbolink>

<%= render 'layouts/header' %>

<div id="content">
</div>
<div id="inner-content">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
